%section.hero#faq
  .container
    .row
      .col-md-12
        %h1="Frequently Asked Questions"
%section
  .container.inner
    %header.row.tab-header
      %ul
        %li.active
          %a{ :href => '#product-questions', :data => { :toggle => "tab" } }
            ="Product"
            %span="Questions"
        %li
          %a{ :href => '#comp-plan', :data => { :toggle => "tab" } }
            ="Comp Plan"
            %span="Questions"
        %li
          %a{ :href => '#id-life-questions', :data => { :toggle => "tab" } }
            ="ID Life"
            %span="Questions"

    %section.tab-content
      %article.tab-pane.fade.in.active.faq-content#product-questions
        = render 'lorem_faq_section'
        = render 'lorem_faq_section'

      %article.tab-pane.fade.faq-content#comp-plan
        = render 'lorem_faq_section'
        = render 'lorem_faq_section'

      %article.tab-pane.fade.faq-content#id-life-questions
        = render 'lorem_faq_section'
        = render 'lorem_faq_section'
